@{
    ViewData["Title"] = "Schedule a Tour";
}
<!--This is the form for creating a new Appointment-->
@model TempleProject.Models.ApplicationResponse

<h1>Fill out with your information</h1>

<div>

    <form method="post" asp-controller="Home" asp-action="ScheduleForm">
        <div asp-validation-summary="All"></div>

        <label asp-for="TimeId">Time Slot ID: </label>
        <input asp-for="TimeId" readonly /> <br />

        <label asp-for="GroupName">Group Name: </label>
        <input asp-for="GroupName" /> <br />

        <label asp-for="GroupSize">Group Size (1-15): </label>
        <select asp-for="GroupSize">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
        </select><br />

        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" /> <br />

        <label asp-for="Phone">Phone Number:</label>
        <input asp-for="Phone" /> <br />

        <button type="submit">Submit</button>
    </form>
</div>