@{
    ViewData["Title"] = "Home Page";
}

<div class="text-Left">
    <h1 class="display-4">Welcome to the Layton Temple</h1>
    <br />
    <div class="img-container">
        <img class="mod-1-image-1 zoom-in"
             src="https://images.signupgenius.com/memberImages/4445C6D4D73723E8AD877F824C03B4FD_106817881.jpg"
             alt="" border="0">
    </div>
    <br />
    <p> <a href="">Want to learn more about the temple? Click HERE to sign up for a tour</a>.</p>

    <div class="float-middle">
        <input class="btn btn-primary" type="submit" value="SIGN UP" />
    </div>

    <br />
</div>

<div class="text-Left">

    <h1 class="SUGHeaderText">Layton Utah Temple Tours</h1>


    <p style="text-align: inherit;"><strong>We can only add a limited number of tours at this time. They will be removing the visitors center soon so that they can complete the landscaping. When the trailer is gone, we anticipate being able to talk to groups on the lawn of the church across the street or at the Morgan's backyard. We are trying to facilitate as many groups as possible, so please only sign-up when you can commit to coming on the selected&nbsp;date and time. We have a lot of last minute cancelations.</strong></p>
    <p style="text-align: inherit;"><strong>We can do groups on Saturday, please text Rob Hilton at 801-628-4488.</strong></p>
    <p><strong>General Tour Instructions:</strong></p>
    <ul>
        <li>Park on Rosewood (west side of the temple) and meet at the Visitors Center trailer.</li>
        <li>Dress casual, except on Sunday</li>
    </ul>

    <p><strong>Special Accommodations (check the appropriate box when signing up for a tour):</strong></p>
    <ul>  <li>Spanish-speaking tours are available, by request.</li> </ul>

    <p><strong>Available Tours:</strong></p>
    <ul>
        <li>Tour (Outdoor): We will walk on the sidewalk along Oak Hills and on Rosewood in front of the temple on uneven surfaces; please wear sturdy shoes</li>
        <li>Trailer Tour: On Sunday. Masks are required</li>
    </ul>
    <p><strong>Please call or text Rob Hilton at 801-628-4488 with questions or special requests.</strong></p>  <p>&nbsp;</p>
        
</div>


