@{
    ViewData["Title"] = "ScheduledAppointments";
}

<!--This page is for appointments that have been scheduled. You will also be able to edit and delete appointments on this page-->

<table class="table table-bordered">

    <thead>
        <tr>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone Number</td>
        </tr>
    </thead>
</table>

   