@{
    ViewData["Title"] = "Schedule a Tour";
}

@model TempleProject.Models.ApplicationResponse

<h1>Fill out with your information</h1>

<div>

    <form method="post">
        <div asp-validation-summary="All"></div>
        <input type="hidden" name="TimeId" value="TimeId" />
        <label asp-for="GroupName">Group Name: </label>
        <input asp-for="GroupName" /> <br />

        <label asp-for="GroupSize">Group Size (1-15): </label>
        <input asp-for="GroupSize" /> <br />

        <label asp-for="Email">Email Address:</label>
        <input asp-for="Email" /> <br />

        <label asp-for="Phone">Phone Number:</label>
        <input asp-for="Phone" /> <br />

        <button type="submit">Submit</button>
    </form>
</div>