@page
@model TempleProject.Models.ApplicationResponse;
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<h2>Available Time Slots</h2>

<table class="table table-bordered table striped">

    @*@foreach (Project p in Model)
            {
                
                <tr>
                    <td>
                        <form method="post">
                            <input type="hidden" name="ID" value="1" />
                            <input type="hidden" name="returnUrl" value="1" />
                            <button type="submit" class="btn btn-primary">Time Slot</button>
                        </form>
                    </td>
                </tr>
            }*@

</table>
